.paddingTop
{
	padding-top: 40px;
}

.paddingTopHeader
{
	padding-top: 70px;
}

.noOutline
{
  outline:none !important;
}

.bolderFont{
	font-weight: bolder;
}

svg {
	width:100%;
	border:1px solid gray;
}

.fullWidth {
	width:100%;
}